<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://www.w3.org/1999/xhtml/vocab">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	
	<title>About Us</title>
	<style type="text/css" media="all">
		@import url("../../style/system.base.css?ojzvez");
		@import url("../../style/system.messages.css?ojzvez");
	</style>
	<style type="text/css" media="all">
		@import url("../../style/jquery.ui.core.css?ojzvez");
		@import url("../../style/jquery.ui.theme.css?ojzvez");
		@import url("../../style/jquery.ui.button.css?ojzvez");
		@import url("../../style/jquery.ui.resizable.css?ojzvez");
		@import url("../../style/jquery.ui.dialog.css?ojzvez");
	</style>
	<style type="text/css" media="all">
		@import url("../../style/date.css?ojzvez");
		@import url("../../style/datepicker.1.7.css?ojzvez");
		@import url("../../style/ckeditor.css?ojzvez");
	</style>
	<style type="text/css" media="all">
		@import url("../../style/node_embed.css?ojzvez");
		@import url("../../style/home.css?ojzvez");
	</style>
	<style type="text/css" media="all">
		@import url("../../style/base.css?ojzvez");
	</style>
	<script type="text/javascript" src="../../script/jquery-1.11.3.min.js"></script>
	
	
	<script type="text/javascript">
		
		$(document).ready(function(){
			$("#sliverPanel").load( "../../control/sliver.html" );
			$(".masthead").load( "../../control/header.html" );
			$(".bottom").load( "../../control/bottom.html" );
			$(".footer-second").load( "../../control/footer.html" );	

			$("#leftmenuPanel").load( "control/menu.html" );	
		});	
				
	</script>
	
</head>
<body class="html not-front not-logged-in one-sidebar sidebar-second page-node has-homequeue-top">
	<div id="skip-link">
		<a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
	</div>
    
	<div class="page">

		<div class="region-wrapper clearfix sliver" id="sliverPanel"></div>
		<!-- /sliver -->

		<div class="region-wrapper clearfix masthead menu-singleheight"></div>
		<!-- /header -->		
	  
		<div class="region-wrapper clearfix main-content">		
			<div class="region-inner">				
				<div class="main-content-nest">					
					<div class="region region-content">
						<h1 class="title page-title">Title </h1>
						<div id="block-system-main" class="block block-system">    
							<div class="content">
								<!-- place to show the details -->
								sdfsdfds
							</div>
						</div>
					</div>
				</div>
				<!-- /sidebar_first -->
				<div class="region region-sidebar-second sidebar" id="leftmenuPanel">
					&nbsp;
				</div>
			</div>    
		</div>
		<!-- /main-content -->

		<div class="region-wrapper clearfix bottom"></div>
		<!-- /bottom --> 
		
		<div class="region-wrapper clearfix footer-second"></div>
		<!-- /footer_Second -->
	  
	</div><!-- /page -->
  
	<div id="respSize"></div><!-- helper for JS/media query switching-->


</body>
</html>